<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Code Here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    
    <style>
        body
        {
            margin: 0 auto;
        }
        #banner
        {
            color: white;
            background-color: black;
            font-weight: bold;
            text-align: center;

        }
        #useage
        {
            background: grey;
            text-align: center;
        }
        a
        {
            color: #ccf;
        }
        a:hover
        {
            color: #ff0000;
        }
        #editor
        {
            margin-top: 5px;
            width: 100%;
            height: 400px;
        }
        #submit
        {
            background: grey;
            text-align: center;
            width: 100% ;
            margin-top: 400px;
        }
        #output
        {
            border: 5px;
            width: 100% ;
            height: 150px;
            margin-top: 0px;
        }
    </style>
</head>
<body onclick="PaintLituus">
    <div id="banner">
        Code Here
    </div>
    <div id="useage">
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="C" checked="checked" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">C</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="C++" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">C++</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="D" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">D</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Haskell" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Haskell</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Lua" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Lua</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="OCaml" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">OCaml</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="PHP" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">PHP</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Perl" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Perl</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Plain Text" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Plain Text</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Python" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Python</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Ruby" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Ruby</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Scheme" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Scheme</span>
        </label>
        <label>
            <input style="vertical-align:middle" type="radio" name="lang" value="Tcl" onclick="setlang(this.value)">
            <span style="vertical-align:middle" class="label">Tcl</span>
        </label>
    </div>
    <div id="editor">#include "stdio.h"
int main() {
    printf("Hello Word");
    return 0;
}
    </div>
    <div id="submit"><button class="butt" id="Submit">Submit</button></div>
    <div id="output">

    </div>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");


    var selectedlang = "C";
    window.onload = function () {
        w = window;
        j = document;

        submit = j.getElementById("Submit");
        output = j.getElementById("output");

        submit.onclick = function () {
            new Ajax.Request('/codepad/', {
                method:'post',
                parameters: {code: editor.getValue(), lang: selectedlang},
                onSuccess: function(transport) {
                    var response = transport.responseText;
                    output.innerHTML = response;

                },
                onFailure: function() { alert('Something went wrong...'); }
            });
        }
    }


    function setlang(value) {
        selectedlang = value;
        switch (selectedlang) {
            case "C":
            case "C++":
            editor.getSession().setMode("ace/mode/c_cpp");
            break;
            case "D":
            case "Plain Text":
            case "Scheme":
             case "Haskell":
            editor.getSession().setMode("ace/mode/text");
            break;
            case "Lua":
            editor.getSession().setMode("ace/mode/lua");
            break;
            case "OCaml":
            editor.getSession().setMode("ace/mode/ocaml");
            break;
            case "PHP":
            editor.getSession().setMode("ace/mode/php");
            break;
            case "Perl":
            editor.getSession().setMode("ace/mode/perl");
            break;
            case "Python":
            editor.getSession().setMode("ace/mode/python");
            break;
            case "Ruby":
            editor.getSession().setMode("ace/mode/ruby");
            break;
            case "Tcl":
            editor.getSession().setMode("ace/mode/tcl");
            break;
            default:
            editor.getSession().setMode("ace/mode/text");
            break;

        }
    }
    function hellotemplate() {
    
    }
    </script>
</body>
</html>
