body
        {
            margin: 0 auto;
        }
        #banner
        {
            color: white;
            background-color: black;
            font-weight: bold;
            text-align: center;

        }
        #useage
        {
            background: grey;
            text-align: center;
        }
        a
        {
            color: #ccf;
        }
        a:hover
        {
            color: #ff0000;
        }
        #editor
        {
            margin-top: 5px;
            width: 100%;
            height: 400px;
        }
        #submit
        {
            background: grey;
            text-align: center;
            width: 100% ;
            margin-top: 400px;
        }
        #output
        {
            border: 5px;
            width: 100% ;
            height: 150px;
            margin-top: 0px;
        }